src/main/resources/utils/main/ghsts-picklists-Pesticides-1.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2010 rel. 3 (x64) (http://www.altova.com) by everis Spain, S.L. (everis Spain, S.L.) -->
<!-- Generated by GHSTS Picklist Maintenance XLS on 07.12.2015 08:20:17 
	Modified on January 2017
-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="http://www.oecd.org/GHSTS/Pesticides-1" targetNamespace="http://www.oecd.org/GHSTS/Pesticides-1" elementFormDefault="qualified" attributeFormDefault="unqualified" version="01.04.00">
	<xs:simpleType name="TYPE_PRODUCT_USE_TYPE">
		<xs:restriction base="xs:string">
			<xs:enumeration value="Nanoparticle">
				<xs:annotation>
					<xs:appinfo>
						<DECODE>Nanoparticle</DECODE>
						<INFO>Nano-object with all three external dimensions in the nanoscale</INFO>
						<STATUS>enabled</STATUS>
						<PRODUCT_USE_CLASS>NANOTMATERIAL</PRODUCT_USE_CLASS>
						<ORIGIN>EFSA</ORIGIN>
					</xs:appinfo>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="Nanoplate">
				<xs:annotation>
					<xs:appinfo>
						<DECODE>Nanoplate</DECODE>
						<INFO>Nano-object with one external dimension in the nanoscale and the two other external dimensions significantly larger</INFO>
						<STATUS>enabled</STATUS>
						<PRODUCT_USE_CLASS>NANOTMATERIAL</PRODUCT_USE_CLASS>
						<ORIGIN>EFSA</ORIGIN>
					</xs:appinfo>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="Nanofibre">
				<xs:annotation>
					<xs:appinfo>
						<DECODE>Nanofibre</DECODE>
						<INFO>Nano-object with two similar external dimensions in the nanoscale and the third dimension significantly larger</INFO>
						<STATUS>enabled</STATUS>
						<PRODUCT_USE_CLASS>NANOTMATERIAL</PRODUCT_USE_CLASS>
						<ORIGIN>EFSA</ORIGIN>
					</xs:appinfo>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="Nanotube">
				<xs:annotation>
					<xs:appinfo>
						<DECODE>Nanotube</DECODE>
						<INFO>Hollow nanofibre</INFO>
						<STATUS>enabled</STATUS>
						<PRODUCT_USE_CLASS>NANOTMATERIAL</PRODUCT_USE_CLASS>
						<ORIGIN>EFSA</ORIGIN>
					</xs:appinfo>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="Nanorod">
				<xs:annotation>
					<xs:appinfo>
						<DECODE>Nanorod</DECODE>
						<INFO>Solid nanofibre</INFO>
						<STATUS>enabled</STATUS>
						<PRODUCT_USE_CLASS>NANOTMATERIAL</PRODUCT_USE_CLASS>
						<ORIGIN>EFSA</ORIGIN>
					</xs:appinfo>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="Nanowire">
				<xs:annotation>
					<xs:appinfo>
						<DECODE>Nanowire</DECODE>
						<INFO>Electrically conducting or semi-conducting nanofibre</INFO>
						<STATUS>enabled</STATUS>
						<PRODUCT_USE_CLASS>NANOTMATERIAL</PRODUCT_USE_CLASS>
						<ORIGIN>EFSA</ORIGIN>
					</xs:appinfo>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="Quantum dot">
				<xs:annotation>
					<xs:appinfo>
						<DECODE>Quantum dot</DECODE>
						<INFO>Crystalline nanoparticle that exhibits size-dependent properties due to quantum confinement effects on the electronic states</INFO>
						<STATUS>enabled</STATUS>
						<PRODUCT_USE_CLASS>NANOTMATERIAL</PRODUCT_USE_CLASS>
						<ORIGIN>EFSA</ORIGIN>
					</xs:appinfo>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="Nanostructured materials">
				<xs:annotation>
					<xs:appinfo>
						<DECODE>Nanostructured materials</DECODE>
						<INFO>One of five types: nanostructured powder; nanocomposite; solid nanofoam; nanoporous material; fluid nanodispersion.</INFO>
						<STATUS>enabled</STATUS>
						<PRODUCT_USE_CLASS>NANOTMATERIAL</PRODUCT_USE_CLASS>
						<ORIGIN>EFSA</ORIGIN>
					</xs:appinfo>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="Nano-onion">
				<xs:annotation>
					<xs:appinfo>
						<DECODE>Nano-onion</DECODE>
						<INFO>Spherical nanoparticle with concentric multiple shell structure</INFO>
						<STATUS>enabled</STATUS>
						<PRODUCT_USE_CLASS>NANOTMATERIAL</PRODUCT_USE_CLASS>
						<ORIGIN>EFSA</ORIGIN>
					</xs:appinfo>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="MNO">
				<xs:annotation>
					<xs:appinfo>
						<DECODE>MNO</DECODE>
						<INFO>Nano-object intentionally produced for commercial purposes to have specific properties or composition</INFO>
						<STATUS>enabled</STATUS>
						<PRODUCT_USE_CLASS>NANOTMATERIAL</PRODUCT_USE_CLASS>
						<ORIGIN>EFSA</ORIGIN>
					</xs:appinfo>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="Stealth nano-object">
				<xs:annotation>
					<xs:appinfo>
						<DECODE>Stealth nano-object</DECODE>
						<INFO>Nano-object specifically designed to avoid detection or rejection by the body's defence system</INFO>
						<STATUS>enabled</STATUS>
						<PRODUCT_USE_CLASS>NANOTMATERIAL</PRODUCT_USE_CLASS>
						<ORIGIN>EFSA</ORIGIN>
					</xs:appinfo>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="Manufactured nano-object">
				<xs:annotation>
					<xs:appinfo>
						<DECODE>Manufactured nano-object</DECODE>
						<INFO>Nano-object intentionally produced for commercial purposes to have specific properties or composition</INFO>
						<STATUS>enabled</STATUS>
						<PRODUCT_USE_CLASS>NANOTMATERIAL</PRODUCT_USE_CLASS>
						<ORIGIN>EFSA</ORIGIN>
					</xs:appinfo>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="Engineered nanoparticle">
				<xs:annotation>
					<xs:appinfo>
						<DECODE>Engineered nanoparticle</DECODE>
						<INFO>Nanoparticle intentionally engineered and produced with specific properties</INFO>
						<STATUS>enabled</STATUS>
						<PRODUCT_USE_CLASS>NANOTMATERIAL</PRODUCT_USE_CLASS>
						<ORIGIN>EFSA</ORIGIN>
					</xs:appinfo>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="Nanoaerosol">
				<xs:annotation>
					<xs:appinfo>
						<DECODE>Nanoaerosol</DECODE>
						<INFO>Aerosol comprised of, or consisting of, nanoparticles and nanostructured particles</INFO>
						<STATUS>enabled</STATUS>
						<PRODUCT_USE_CLASS>NANOTMATERIAL</PRODUCT_USE_CLASS>
						<ORIGIN>EFSA</ORIGIN>
					</xs:appinfo>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="Nanostructured particle">
				<xs:annotation>
					<xs:appinfo>
						<DECODE>Nanostructured particle</DECODE>
						<INFO>Particle with structural features smaller than 100 nm, which may influence its physical, chemical, and/or biological properties</INFO>
						<STATUS>enabled</STATUS>
						<PRODUCT_USE_CLASS>NANOTMATERIAL</PRODUCT_USE_CLASS>
						<ORIGIN>EFSA</ORIGIN>
					</xs:appinfo>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="AGRICULTURE">
				<xs:annotation>
					<xs:appinfo>
						<DECODE>AGRICULTURE</DECODE>
						<INFO>agriculture</INFO>
						<STATUS>enabled</STATUS>
						<PRODUCT_USE_CLASS>FIELD_OF_USE</PRODUCT_USE_CLASS>
						<ORIGIN>EFSA</ORIGIN>
					</xs:appinfo>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="VITICULTURE">
				<xs:annotation>
					<xs:appinfo>
						<DECODE>VITICULTURE</DECODE>
						<INFO>Grapes</INFO>
						<STATUS>enabled</STATUS>
						<PRODUCT_USE_CLASS>FIELD_OF_USE</PRODUCT_USE_CLASS>
						<ORIGIN>EFSA</ORIGIN>
					</xs:appinfo>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="AMENITY">
				<xs:annotation>
					<xs:appinfo>
						<DECODE>AMENITY</DECODE>
						<INFO>Grassland and lawns etc</INFO>
						<STATUS>enabled</STATUS>
						<PRODUCT_USE_CLASS>FIELD_OF_USE</PRODUCT_USE_CLASS>
						<ORIGIN>EFSA</ORIGIN>
					</xs:appinfo>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="HORTICULTURE">
				<xs:annotation>
					<xs:appinfo>
						<DECODE>HORTICULTURE</DECODE>
						<INFO>Ornamentals</INFO>
						<STATUS>enabled</STATUS>
						<PRODUCT_USE_CLASS>FIELD_OF_USE</PRODUCT_USE_CLASS>
						<ORIGIN>EFSA</ORIGIN>
					</xs:appinfo>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="FORESTRY">
				<xs:annotation>
					<xs:appinfo>
						<DECODE>FORESTRY</DECODE>
						<INFO>Forestry</INFO>
						<STATUS>enabled</STATUS>
						<PRODUCT_USE_CLASS>FIELD_OF_USE</PRODUCT_USE_CLASS>
						<ORIGIN>EFSA</ORIGIN>
					</xs:appinfo>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="HOME GARDENINIG">
				<xs:annotation>
					<xs:appinfo>
						<DECODE>HOME GARDENINIG</DECODE>
						<INFO>home gardening</INFO>
						<STATUS>enabled</STATUS>
						<PRODUCT_USE_CLASS>FIELD_OF_USE</PRODUCT_USE_CLASS>
						<ORIGIN>EFSA</ORIGIN>
					</xs:appinfo>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="HOUSE PLANTS">
				<xs:annotation>
					<xs:appinfo>
						<DECODE>HOUSE PLANTS</DECODE>
						<INFO>house plants</INFO>
						<STATUS>enabled</STATUS>
						<PRODUCT_USE_CLASS>FIELD_OF_USE</PRODUCT_USE_CLASS>
						<ORIGIN>EFSA</ORIGIN>
					</xs:appinfo>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="PLANT PRODUCTS STORAGE PRACTICE">
				<xs:annotation>
					<xs:appinfo>
						<DECODE>PLANT PRODUCTS STORAGE PRACTICE</DECODE>
						<INFO>plant products storage practice</INFO>
						<STATUS>enabled</STATUS>
						<PRODUCT_USE_CLASS>FIELD_OF_USE</PRODUCT_USE_CLASS>
						<ORIGIN>EFSA</ORIGIN>
					</xs:appinfo>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="PROTECTED CROPS">
				<xs:annotation>
					<xs:appinfo>
						<DECODE>PROTECTED CROPS</DECODE>
						<INFO>protected crops</INFO>
						<STATUS>enabled</STATUS>
						<PRODUCT_USE_CLASS>FIELD_OF_USE</PRODUCT_USE_CLASS>
						<ORIGIN>EFSA</ORIGIN>
					</xs:appinfo>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="WEED CONTROL ON NON-CULTIVATED AREAS">
				<xs:annotation>
					<xs:appinfo>
						<DECODE>WEED CONTROL ON NON-CULTIVATED AREAS</DECODE>
						<INFO>weed control on non-cultivated areas</INFO>
						<STATUS>enabled</STATUS>
						<PRODUCT_USE_CLASS>FIELD_OF_USE</PRODUCT_USE_CLASS>
						<ORIGIN>EFSA</ORIGIN>
					</xs:appinfo>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="OTHER">
				<xs:annotation>
					<xs:appinfo>
						<DECODE>OTHER</DECODE>
						<INFO>to be specified by the applicant</INFO>
						<STATUS>enabled</STATUS>
						<PRODUCT_USE_CLASS>FIELD_OF_USE</PRODUCT_USE_CLASS>
						<ORIGIN>EFSA</ORIGIN>
					</xs:appinfo>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="ACARICIDE">
				<xs:annotation>
					<xs:appinfo>
						<DECODE>ACARICIDE</DECODE>
						<INFO>acaricide / control of mites</INFO>
						<STATUS>enabled</STATUS>
						<PRODUCT_USE_CLASS>FUNCTION</PRODUCT_USE_CLASS>
						<ORIGIN>EFSA</ORIGIN>
					</xs:appinfo>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="BACTERICIDE">
				<xs:annotation>
					<xs:appinfo>
						<DECODE>BACTERICIDE</DECODE>
						<INFO>bactericide / control of bacteria;</INFO>
						<STATUS>enabled</STATUS>
						<PRODUCT_USE_CLASS>FUNCTION</PRODUCT_USE_CLASS>
						<ORIGIN>EFSA</ORIGIN>
					</xs:appinfo>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="FUNGICIDE">
				<xs:annotation>
					<xs:appinfo>
						<DECODE>FUNGICIDE</DECODE>
						<INFO>fungicide / control of fungi</INFO>
						<STATUS>enabled</STATUS>
						<PRODUCT_USE_CLASS>FUNCTION</PRODUCT_USE_CLASS>
						<ORIGIN>EFSA</ORIGIN>
					</xs:appinfo>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="HERBICIDE">
				<xs:annotation>
					<xs:appinfo>
						<DECODE>HERBICIDE</DECODE>
						<INFO>herbicide / control of weeds</INFO>
						<STATUS>enabled</STATUS>
						<PRODUCT_USE_CLASS>FUNCTION</PRODUCT_USE_CLASS>
						<ORIGIN>EFSA</ORIGIN>
					</xs:appinfo>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="INSECTICIDE">
				<xs:annotation>
					<xs:appinfo>
						<DECODE>INSECTICIDE</DECODE>
						<INFO>insecticide / control of insects</INFO>
						<STATUS>enabled</STATUS>
						<PRODUCT_USE_CLASS>FUNCTION</PRODUCT_USE_CLASS>
						<ORIGIN>EFSA</ORIGIN>
					</xs:appinfo>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="MOLLUSCICIDE">
				<xs:annotation>
					<xs:appinfo>
						<DECODE>MOLLUSCICIDE</DECODE>
						<INFO>molluscicide / control of molluscs</INFO>
						<STATUS>enabled</STATUS>
						<PRODUCT_USE_CLASS>FUNCTION</PRODUCT_USE_CLASS>
						<ORIGIN>EFSA</ORIGIN>
					</xs:appinfo>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="NEMATICIDE">
				<xs:annotation>
					<xs:appinfo>
						<DECODE>NEMATICIDE</DECODE>
						<INFO>nematicide / control of nematodes</INFO>
						<STATUS>enabled</STATUS>
						<PRODUCT_USE_CLASS>FUNCTION</PRODUCT_USE_CLASS>
						<ORIGIN>EFSA</ORIGIN>
					</xs:appinfo>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="PLANT GROWTH REGULATOR">
				<xs:annotation>
					<xs:appinfo>
						<DECODE>PLANT GROWTH REGULATOR</DECODE>
						<INFO>plant growth regulator;</INFO>
						<STATUS>enabled</STATUS>
						<PRODUCT_USE_CLASS>FUNCTION</PRODUCT_USE_CLASS>
						<ORIGIN>EFSA</ORIGIN>
					</xs:appinfo>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="REPELLENT">
				<xs:annotation>
					<xs:appinfo>
						<DECODE>REPELLENT</DECODE>
						<INFO>repellent;</INFO>
						<STATUS>enabled</STATUS>
						<PRODUCT_USE_CLASS>FUNCTION</PRODUCT_USE_CLASS>
						<ORIGIN>EFSA</ORIGIN>
					</xs:appinfo>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="RODENTICIDE">
				<xs:annotation>
					<xs:appinfo>
						<DECODE>RODENTICIDE</DECODE>
						<INFO>rodenticide;</INFO>
						<STATUS>enabled</STATUS>
						<PRODUCT_USE_CLASS>FUNCTION</PRODUCT_USE_CLASS>
						<ORIGIN>EFSA</ORIGIN>
					</xs:appinfo>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="SEMIO-CHEMICAL">
				<xs:annotation>
					<xs:appinfo>
						<DECODE>SEMIO-CHEMICAL</DECODE>
						<INFO>semio-chemical;</INFO>
						<STATUS>enabled</STATUS>
						<PRODUCT_USE_CLASS>FUNCTION</PRODUCT_USE_CLASS>
						<ORIGIN>EFSA</ORIGIN>
					</xs:appinfo>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="TALPICIDE">
				<xs:annotation>
					<xs:appinfo>
						<DECODE>TALPICIDE</DECODE>
						<INFO>talpicide;</INFO>
						<STATUS>enabled</STATUS>
						<PRODUCT_USE_CLASS>FUNCTION</PRODUCT_USE_CLASS>
						<ORIGIN>EFSA</ORIGIN>
					</xs:appinfo>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="VIRICIDE">
				<xs:annotation>
					<xs:appinfo>
						<DECODE>VIRICIDE</DECODE>
						<INFO>viricide;</INFO>
						<STATUS>enabled</STATUS>
						<PRODUCT_USE_CLASS>FUNCTION</PRODUCT_USE_CLASS>
						<ORIGIN>EFSA</ORIGIN>
					</xs:appinfo>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="OTHER">
				<xs:annotation>
					<xs:appinfo>
						<DECODE>OTHER</DECODE>
						<INFO>to be specified by the applicant</INFO>
						<STATUS>enabled</STATUS>
						<PRODUCT_USE_CLASS>FUNCTION</PRODUCT_USE_CLASS>
						<ORIGIN>EFSA</ORIGIN>
					</xs:appinfo>
				</xs:annotation>
			</xs:enumeration>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="EXTENSION_TYPE_PRODUCT_USE_TYPE">
		<xs:simpleContent>
			<xs:extension base="TYPE_PRODUCT_USE_TYPE">
				<xs:attribute name="Other_Value" type="xs:string">
					<xs:annotation>
						<xs:documentation>Other values can be submitted</xs:documentation>
					</xs:annotation>
				</xs:attribute>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:simpleType name="TYPE_PRODUCT_USE_CLASS_TYPE">
		<xs:restriction base="xs:string">
			<xs:enumeration value="FIELD_OF_USE">
				<xs:annotation>
					<xs:appinfo>
						<DECODE>FIELD_OF_USE</DECODE>
						<INFO>The fields of use for plant protection products containing the active substance </INFO>
						<STATUS>enabled</STATUS>
						<ORIGIN>EFSA</ORIGIN>
					</xs:appinfo>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="FUNCTION">
				<xs:annotation>
					<xs:appinfo>
						<DECODE>FUNCTION</DECODE>
						<INFO>Specific function of the active substance and/or product</INFO>
						<STATUS>enabled</STATUS>
						<ORIGIN>EFSA</ORIGIN>
					</xs:appinfo>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="NANOTMATERIAL">
				<xs:annotation>
					<xs:appinfo>
						<DECODE>NANOTMATERIAL</DECODE>
						<INFO>Categorisation or classification scheme for nanomaterials</INFO>
						<STATUS>enabled</STATUS>
						<ORIGIN>EFSA</ORIGIN>
					</xs:appinfo>
				</xs:annotation>
			</xs:enumeration>
		</xs:restriction>
	</xs:simpleType>
</xs:schema>
